@media (min-width: 1200px) {
	.footer-mob {
		padding: 32px 120px;
		display: flex;
		justify-content: space-between;
	}

	.info {
		padding: 96px 120px 0 120px;
	}

	.contacts-map {
		height: 359px;
	}

	.contact-button {
		width: 176px;
	}

	.form-block {
		gap: 64px;
		padding: 64px 86px 64px 64px;
	}

	.form {
		padding: 96px 120px 0 120px;
	}

	.main {
		padding: 0 120px;
	}

	.slider {
		padding: 96px 0px 0 120px;
	}

	.form-data-block {
		width: 100%;
	}

	.form-block-left {
		width: 100%;
	}

	.slider-card {
		height: 450px;
		width: 300px;
	}

	.contacts-heading {
		width: 236px;
	}

	.try-button-desctop {
		width: 327px;
		height: 52px;
	}

	.main-sertificate-640 {
		font-size: 16px;
	}

	.main-content-block-desc {
		padding: 64px;
	}

	.menu-items {
		gap: 32px;
	}

	.try-button-desctop {
		width: 327px;
	}

	.main-block-640 {
		height: 461px;
	}

	.main-left-block {
		gap: 32px;
	}

	.main-header-640 {
		font-size: 64px;
		width: 512px;
	}

	.main-description-640 {
		width: 426px;
		font-size: 21px;
	}

	.main-sertificate-640 {
		width: 278px;
	}

	.main-sertificate-640 br {
		display: none;
	}

	.header-desc {
		padding: 8px 120px;
	}
	.main-description-640 {
		display: none;
	}

	.main-description-1200 {
		display: flex;
		color: rgb(255, 255, 255);
		font-family: "Tilda";
		font-size: 21px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: -3%;
		text-align: left;
		width: 426px;
	}
}
